.flip {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.ken.stance {
  background-image: url('./photos/ken_stance.png');

}
.ken.walk{
  background: url('./photos/ken_stance.png');
}

.walk {
  /*background: url('./photos/ken_stance.png');
  background-position: -165px 0;*/
  -webkit-animation: walk steps(4) 0.5s infinite;
          animation: walk steps(4) 0.5s infinite;

}

@-webkit-keyframes walk {
  from {
    background-position: 0px -165px;
  }
  to {
    background-position: -500px -165px;
  }
}

@keyframes walk {
  from {
    background-position: 0px -165px;
  }
  to {
    background-position: -500px -165px;
  }
}

/*Ryu's Walk css*/



.punch {
  background: url('./photos/ken_PUNCH.png');
  background-position: -133px 0;
}


.kick {
  background: url('./photos/ken_Kick!.png');
  background-position: -266px 0;
}


.ken {
  position:absolute;
  bottom:22px;
  margin-left: 150px;
  width: 133px;
  height: 160px;
}

.Ryu {
  position: absolute;
  bottom: 22px;
  margin-left:400px;
  width: 110px;
  height:154px;
}

.Ryu.walk {
  background-image: url('./photos/Ryu_stand_move.png');
}

.Ryu.stance {
  background-image: url('./photos/Ryu_stand_move.png');

}

.RyuPunch {
  background: url('./photos/Ryu_PunchingUpdate.png');
  background-position: 120px;
}


.RyuKick {
  background: url('./photos/Ryu_KickingUpdate.png');
  background-position: 110px;
}


.kenHpBar {
  width: 200px;
background-color: #fd1d1d;
height: 20px;
}

.ryuHpBar {
  width: 200px;
background-color: #ffec45;
height: 20px;
float: left;
margin-left: 500px;
}


.commands {
  position: absolute;
  right: 0;
  display: inline-block;
  margin-top: 330px;
    margin-right: 1250px;
}

.stage {
  position: absolute;
  top:0;
  width: 700px;
  height: 350px;
  background: url('file:///Users/plin005/projects/photos/Project_background.jpeg')no-repeat 0px -1px;
  background-size: contain;
  float: left;
  margin-right: 20px;
  z-index: -1;
}

body {
  margin: 0px;
  padding: 0px;
}
